/* for haberler page */
section .news{
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 40px;
}
section .news .left{
    position: relative;
    width: 26%;
}
section .news .left .top{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
section .news .left .top a{
    font-size: 16pt;
    color: #525252;
}
section .news .left .top p{
    font-size: 16pt;
    color: #525252;
    padding: 0 5px;
}



section .news .left .middle img{
    position: relative;
    float: left;
    width: 50px;
}
section .news .left .middle p{
    position: relative;
    top: 10px;
    left: 15px;
    float: left;
    font-size: 24pt;
    color: #ed1c24;
} 

section .news .left .line{
    width: 285px;
}
section .news .left .line img{
    width: 285px;
}

section .news .left .bottom a{
    display: block;
    margin-top: 20px;
    font-size: 12pt;
    color: #2e2e2e;
}
section .news .left .bottom a:hover{
    color: rgb(143, 103, 103);
}
/* section right */
section .right{
    width: 74%;
    padding-left: 65px;
    margin-bottom: 70px;
}
section .right .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
section .right .top .date{
    position: relative;
    font-size: 16pt;
    color: #525252;
}
section .right .top .icons{
    position: relative;
    right: 0px;
}
section .right .top .icons i{
    font-size: 16pt;
    padding:0 5px;
}
section .right .top .icons .fa-twitter{
    color: #00acee;
}
section .right .top .icons .fa-facebook{
    color: #3b5998;
}
section .right .top .icons .fa-envelope{
    color: rgb(61, 228, 61);
}
section .right .top .icons .fa-file-pdf{
    color: rgb(158, 54, 54);
}
/* bottom */
section .right .bottom{
    margin-bottom: 80px;
}
section .right .bottom img{
    width: 100%;
    height: 300px;
}
section .right .bottom h1{
    position: relative;
    width: 100%;
    top: 40px;
    color: #8d0101;
    font-size: 18pt;
    line-height: 25px;
}
section .right .bottom p{
    position: relative;
    display: block;
    top: 70px;
    line-height: 23px;
    font-size: 12pt;
    color: #2e2e2e;
}
@media screen and (max-width:992px){
    section .right{
        margin-bottom: 40px;
    }
    section .news .left .bottom a{
        margin-top: 12px;
        font-size: 12pt;
    }
    section .news .left .line{
        width: 200px;
    }
    section .news .left .line img{
        width: 200px;
    }
    section .right .bottom h1{
        font-size: 17pt;
    }
    section .right .bottom p{
        top: 70px;
        font-size: 12pt;
        line-height: 25px;
    }
}
@media screen and (max-width:767px){
    section .news{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .news .left{
        width: 100%;
        margin-bottom: 70px;
    }
    section .news .left .middle img{
        width: 75px;
    }
    section .right{
        width: 100%;
        padding-left: 0px;
        margin-bottom: 70px;
    }
    section .news .left .middle p{
        top: 13px;
        font-size: 42pt;
    } 
    section .news .left .line{
        position: relative;
        width: 375px;
        top: 5px;
    }
    section .news .left .line img{
        width: 375px;
    }
    section .news .left .bottom a{
        margin-top: 12px;
        font-size: 12pt;
    }
    
}
@media screen and (max-width:480px){
    section .news .left .middle img{
        width: 40px;
    }
    section .right{
        width: 100%;
        padding-left: 0px;
        margin-bottom: 70px;
    }
    section .news .left .middle p{
        top: 7px;
        font-size: 24pt;
    } 
    section .news .left .line{
        width: 240px;
        top: 2px;
    }
    section .news .left .line img{
        width: 240px;
    }
    section .news .left .bottom a{
        margin-top: 12px;
        font-size: 12pt;
    }
   
}